*{
    margin: 0;
    padding: 0;
}
header{
    background-color: cornflowerblue;
    height: 15vh;
    width: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.align{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player-options img, .enemy-options img{
    max-width: 100%;
    opacity: 0.3;
    cursor: pointer;
}
.player-options, .enemy-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whoWinsMessage{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
}

.winner{
    transition: 1s;
}

.enemy-options h2, .player-options h2{
    background-color: rgb(156, 156, 156);
    text-align: center;
    padding: 20px 0;
    width: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
    margin-bottom: 10%;
}

.options {
    max-width: 200px;
}

